.recommended-friends {
  margin: 20px 0px;
  padding: 18px 0px;
  border-top: var(--line);
  border-bottom: var(--line);
}

.recommended-friends__title {
  font-size: 12px;
  color: var(--dark-gray);
}

.recommended-friends span {
  display: block;
  text-align: center;
  font-size: 14px;
  color: var(--dark-gray);
  padding: 80px 0px;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: var(--dark-gray);
  margin-bottom: 8px;
}

.open-chat__header span {
  color: var(--gray);
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
  border-bottom: var(--line);
}

.open-post__title {
  margin-bottom: 5px;
}

.open-post__hashtags {
  font-size: 14px;
  color: var(--dark-gray);
}
.open-post__members {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.open-post__members img {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__members .divider {
  width: 1px;
  height: 10px;
  background-color: var(--dark-gray);
  margin: 0 5px;
}

.open-post__member-count {
  color: var(--dark-gray);
  font-size: 12px;
}

.open-post__member-status {
  color: rgb(255, 123, 191);
  font-size: 12px;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 80px;
  height: 80px;
  border-radius: 10%;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 4px 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 8px;
  right: 4px;
}

.open-post__heart-count span {
  font-size: 12px;
  margin-left: 4px;
  font-weight: 200;
}

.open-post__heart-count i {
  font-size: 10px;
  transform: translateY(-1px);
}

@keyframes heartbeat {
  0% {
    color: white;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
  }
}

.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartbeat 1s linear infinite;
}
